// Place all the styles related to the Pandemics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
