<div class="row">
  <div class="col-sm">
    <div class="dropdown-divider"></div>

    <%= render 'form', data_url: @data_url %>

    <div class="col">
      <%= link_to 'Index', data_urls_url, class: "form-control btn btn-primary" %>
    </div>
  </div>
</div>
</div>
