<div class="row">
  <div class="col-sm">
    <h3 class="pt-2 pl-3">New Data Url for pandemic: <%= @pandemic.name %></h3>
    <div class="dropdown-divider"></div>
    <%= render partial: 'data_urls/form', locals: { data_url: [@pandemic, @data_url] } %>
    <div class="col">
      <%= link_to 'Back', pandemic_path(@pandemic), class: "form-control btn btn-primary" %>
    </div>
    <div class="col">
      <%= link_to 'Index', pandemics_path, class: "form-control btn btn-primary" %>
    </div>
  </div>
</div>
</div>
