<div class="row">
  <div class="col-sm">
    <h3 class="pt-2 pl-3">New Pandemic</h3>
    <div class="dropdown-divider"></div>

    <%= render 'form', pandemic: @pandemic %>

    <div class="col">
      <%= link_to 'Index', pandemics_path, class: "form-control btn btn-primary" %>
    </div>
  </div>
</div>
</div>
